

    
   
    
  
.c{
    width: 350px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;
    }
   
   .cc1{
    width: 350px;
   }
   
   .cc2{
    width: 168px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;
   }
    
    
    .imgh {
  width: 100%;
  height: auto;
}
    

	
	
	
